.logo{
    padding: 20px;
   
}
.logo a{
    padding: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


.nav{
    background-color: brown;  
    margin: 0;
    padding: 0%; 
}
.nav a{
    font-size: 20px;
    color: aliceblue;
    text-decoration: solid;
}
.nav ul{
    font-size: 20px;
    color: aliceblue;
    text-decoration: solid;
}
.nav ul li{
    text-align: end;
    padding: 0px;
    margin-right: 60px;
    list-style-type:none;
    
}